[Unit]
Description=Graph RAG query service
After=network.target

[Service]
Restart=no
User=root
WorkingDirectory=/home/kieran/graph-rag-testing
ExecStart=/bin/bash -c 'source .venv/bin/activate && fastapi run query_server.py --port 80'

[Install]
WantedBy=multi-user.target
